<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>

<body>
    {% if user %}
    <ul>
        
        <li>User id = {{user.id}}</li>
        <li>Username = {{user.username}}</li>
        <li>Current calories = {{user.curr_calories}}</li>
        <li>Total calories = {{user.total_calories}}</li>
        <li>In limit = {{user.calories_exceeded}}</li>
        
        <li><a href="{% url 'edit_user' user.id %}">Edit user data</a></li>
    </ul>
    {% else %}
    <p>No users are available.</p>
    {% endif %}
</body>

</html>